<%- contentFor("css")  %>

<%- contentFor("body")  %>
<div class="container-fluid py-5 px-sm-5 px-1  ">
    <div class="header col-12 ">
        <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row ">
            <h1 class="color-skyblue">Kabupaten</h1>
            <div class="mt-3 mt-sm-0">
                <a class="btn btn-outline-primary" href="/kabupaten">Add Kabupaten</a>
            </div>
        </div>
        <div class="d-flex mt-4">
            <select name="provinsi_id" class="px-2 bg-transparent color-skyblue border-skyblue filter-provinsi">
                <option value="" class="bg-transparent">all provinsi</option>
                <% provinsi.forEach((prov,index) =>  {  %>
                <option value="<%= prov.id  %>" <%= prov.id == filter ? "selected" : ""   %> class="bg-transparent">
                    <%= prov.nama  %></option>
                <%  }) %>

            </select>
        </div>
    </div>
    <div class="body mt-5 p-0 d-flex justify-content-center flex-wrap">
        <% kabupaten.forEach((kab, index) => {%>
        <div class="card col-11 col-sm-6 col-lg-3 bg-transparent px-5 mt-5">
            <div
                class="header d-flex flex-column align-items-center justify-content-center row border border-2 border-skyblue mb-4">
                <img src="/<%= kab.photo %>" alt="image-provinsi" class="col-12 my-4" style="height: 150px;">
                <div class="d-flex flex-column justify-content-center" style="height: 100px;">
                    <h5 class="color-skyblue text-capitalize"><%= kab.nama %></h3>
                        <p class="text-secondary text-end"><%= kab.diresmikan  %></p>
                </div>
                <div class="footer mb-2">
                    <% const postAt = datePostConvert(kab.createdAt) %>
                    <% const agePost = calculateAgePost(kab.createdAt) %>
                    <div>post : <%= postAt %></div>
                    <div class="d-flex justify-content-end">
                        <%= agePost %>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center gap-3 p-0">
                <form action="/kabupaten/detail/<%= kab.id  %>" method="get" class="col-3 p-0">
                    <button class="btn bg-skyblue">detail</button>
                </form>
                <form action="/kabupaten/<%= kab.id %>?_method=DELETE" method="post" class="col-3 p-0 ">
                    <button class="btn bg-danger"
                        onclick="return confirm('apakah kamu yakin menghapus kabupaten ini')">hapus</button>
                </form>
                <a href="/kabupaten?update=<%= kab.id %>" class="col-3 p-0 ">
                    <button class="btn btn-warning">update</button>
                </a>
            </div>
        </div>
        <%}) %>
    </div>

    <%- contentFor("js")  %>
    <script>
        const filterProvinsi = document.querySelector(".filter-provinsi")
        filterProvinsi.addEventListener("change", () => {
            htmlA = document.createElement("a")
            if (filterProvinsi.value != "") {
                htmlA.href = `/?view=kabupaten&filter=${filterProvinsi.value}`
            } else
                htmlA.href = `/?view=kabupaten`
            htmlA.click()
        })
    </script>